style.css

    *{margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #433f3f;
    color:hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    

}
.container{
    background-color: #222121;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;}

    .container h1{color: hsl(203, 41%, 51%);}

img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-bottom: 20px;
}
.about{
    font-size: 0.9rem;
    color: hsl(0, 0%, 80%);
    margin-bottom: 10px;
}
 .about{color: rgb(180, 180, 240);}

.bio{
    margin-top: 1.5rem;
    background-color: hsl(0, 0%, 16%);
    padding: 1rem;
    border-radius: 10px;
    line-height: 30px;
}
.bio h2{
    margin-bottom: 5px;
    color: hsl(203, 41%, 51%);
}
.links{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.bord{background-color: hsl(0,0%,20%);
    color: hsl(0,0%,100%);
    padding: 10px;
    border: 5px solid hsl(203, 41%, 51%);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.btn:hover{
    background-color: hsl(93, 50%, 64%);
    color: black;

}
.skills{
    margin-top: 1.5rem;
    background-color: hsl(0, 0%, 16%);
    padding: 1rem;
    border-radius: 10px;
    line-height: 25px;
}
.skills li{
    margin: 5px 0;
    font-size: 0.9rem;
}